@model IEnumerable<GeekShopping.Web.ViewModels.ProductViewModel>

<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h2>Product List</h2>
        </div>
    </div>
    <table class="table table-hover mt-2 table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>teste</td>
                <td>teste</td>
            </tr>
        </tbody>
    </table>
</div>